<template name="account">
  <div class="container">
    <div class="row">
      <div class="account-form-container col-md-4 col-md-offset-4">
        <form id="account-form" class="entry-form">
          <div class="form-group">
            <label>Jira Username</label>
            <input name="jira" type="text"  class="form-control" value="{{getJira}}" />
          </div>
          <div class="form-group">
            <label>Hipchat Username</label>
            <input name="hipchat" type="text"  class="form-control" value="{{getHipchat}}" />
          </div>
          <div class="form-group">
            <label>Gif Preference</label>
            <select name="gif">
              {{#each getGifOptions}}
                {{#if isCurrentGif this}}
                  <option value="{{this}}" selected="selected">{{this}}</option>
                {{else}}
                  <option value="{{this}}">{{this}}</option>
                {{/if}}
              {{/each}}
            </select>
          </div>
          <button type="submit" class="submit btn btn-block btn-default">Update</button>
        </form>
        <div class="update-success">Successfully updated</div>
      </div>
    </div>
  </div>
</template>
