<template name="notifications">
	<a href="#" class="dropdown-toggle">
		<span class="circle notification">{{notificationCount}}</span>
	</a>
	<ul class="notification dropdown-menu">
		{{#if notificationCount}}
			{{#each notifications}}
				{{> notification}}
			{{/each}}
		{{else}}
			<li><span>No Notifications</span></li>
		{{/if}}
	</ul>
</template>

<template name="notification">
	<li>
		<a href="{{notificationPostPath}}">
			<strong>{{failerName}}</strong> failed your ticket
		</a>
	</li>
</template>