<template name="admin">
	<div class="admin">
		<div class="stream">
			<span>Toggle stream from Assembla.</span>
			{{#if streamOn}}
				<div class="red btn-new-testscript streamer">Stop Streaming</div>
			{{else}}
				<div class="btn-new-testscript streamer">Start Streaming</div>
			{{/if}}
		</div>
		<div class="milestones">
			{{> milestones}}
		</div>
		<div class="users">
			{{#each users}}
				{{> user}}
			{{/each}}
			<div class="user-tests">
				<div class="btn-new-testscript assign-browsers">Assign Browsers</div>
				<div class="btn-new-testscript randomize">Randomize</div>
			</div>
		</div>
		<div class="assign">
			<span>Assign users to tickets</span>
			<div class="btn-new-testscript assign-tickets">Assign Tickets</div>
		</div>
	</div>
</template>

<template name="user">
	<div class="user">
		<span>{{username}}</span>
		<input name="{{username}}" value="username" type="checkbox" checked="checked">
		<select class="browser">
			{{#each browserOptions}}
				<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select>
		<select class="locale">
			{{#each localeOptions}}
				<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select>
	</div>
</template>