<template name="milestones">
  <span>Choose a milestone/version to test.</span>
  <div class="select-milestone btn-new-testscript">Select Milestone</div>
  <select id="milestone-choice">
    {{#each milestones}}
      {{> milestone}}
    {{/each}}
  </select>
  <div class="alert milestone-alert">Milestone selected</div>
</template>

<template name="milestone">
  {{#if currentMilestone}}
    <option value="{{id}}" selected="selected">{{name}}</option>
  {{else}}
    <option value="{{id}}">{{name}}</option>
  {{/if}}
</template>
