<template name="userMenu">
  {{#if isLoggedIn}}
    <li class="view dropdown-top-level" href="/account">{{name}}
      <ul class="header-dropdown right-header">
        <a class="{{activeRouteClass 'todo'}}" href="{{pathFor 'todo'}}">
          <li>To Do</li>
        </a>
        <a class="{{activeRouteClass 'yours'}}" href="{{pathFor 'yours'}}">
          <li>Own</li>
        </a>
        <a href="/account"><li>Edit Account</li></a>
        <a class="logout-user"><li>Sign Out</li></a>
      </ul>
    </li>
  {{else}}
    {{> loginButtons align="right"}}
  {{/if}}
</template>
