$grey: #EEEEEE;
$green: rgba(46, 184, 46, 0.8);

.home-page {
  text-align: center;

  p {
    font-size: 18px;
    margin-top: 20px;
  }

  svg {
    margin: 20px auto;
  }

  .tester-summaries {
    .tester-summary {
      text-align: left;
      border: 1px solid $grey;
      padding: 10px;
      max-width: 800px;
      margin: 5px auto;
      min-height: 80px;

      &.complete {
        border-left: 5px solid $green;
        padding-left: 6px;
      }
    }

    .tester-name {
      font-weight: bold;
      float: left;
    }

    .tester-stats {
      float: right;
    }

    .tester-complete {

    }

    .tester-incomplete {

    }
  }
}
