<template name="home">
  <div class="content home-page">
    {{# if milestoneName}}
      <p>Today we're testing "{{milestoneName}}" with {{totalTickets}} tickets ({{totalTestableTickets}} testable tickets) and {{totalTests}} assigned tests</p>

      <div id="chart">
        <svg style="height:400px;width:400px"/>
      </div>

      <div class="tester-summaries">
        {{#each testingAssignments}}
          <div class="tester-summary {{hasTesterCompletedTests this.name}}">
            <div class="tester-name">{{this.name}}</div>
            <div class="tester-stats">
              <div class="tester-total-assigned">Total Assigned Tickets: {{userTicketsAssigned this.name}}</div>
              <div class="tester-complete">Completed: {{userTicketsComplete this.name}}</div>
              <div class="tester-incomplete">Incomplete: {{userTicketsIncomplete this.name}}</div>
            </div>
          </div>
        {{/each}}
      </div>
    {{/if}}
  </div>
</template>
