$background-brown: #F2E9CE;
$green: rgba(46, 184, 46, 0.8);
$blue: #00b4ff;
$blue-lighter: #4dcbff;
$red: rgba(242, 38, 19, 0.9);
$pink: #D11B7E;
$yellow: #F6EF2A;
$nav-green: #70AB8F;
$light-blue: #D3E5FB;
$grey: #EEEEEE;
$dark-grey: #939393;
$light-grey: rgba(238, 238, 238, 0.7);

$header-grey: #fafafa;
$header-grey-alt: #e0e0e0;
$font-fancy: 'Lobster', Helvetica;
$font-normal: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

// @import '.meteor/local/build/programs/server/assets/packages/reywood_bootstrap3-sass/bootstrap';

html {
  background-color: white;
  font-family: $font-normal;
  font-weight: 300;
  color: black;
}

strong {
  font-weight: bold;
}

a {
  text-decoration: none;
  color: black;
}

a:hover {
  text-decoration: underline;
}

body {
  min-width: 800px;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding: 15px;
  padding-top: 0;
}

$navbar-height: 50px;

.container {
  min-height: 700px;
  margin-top: $navbar-height + 10;

  .entry {
    max-width: 400px;
  }
}

.navbar {
  height: $navbar-height;
  background-color: $header-grey;
  border-bottom: 1px solid $header-grey-alt;
  font-size: 1.4em;
  text-decoration: none;
  position: fixed;
  top: 0;
  left: 0;
  bottom: auto;
  right: 0;
  z-index: 100;
  padding: 0 20px;
  line-height: $navbar-height - 3;
  text-transform: uppercase;
  font-size: 14px;

  .notifications {
    line-height: 20px;
  }

  a {
    text-decoration: none;
    color:  black;
  }

  .wrangler-logo {
    font-family: $font-fancy;
    text-transform: none;
    font-size: 18px;
  }

  li {
    display: inline-block;
    padding: 0 5px;
    cursor: pointer;

    &:hover {
      background: $light-grey;

      .header-dropdown {
        display: block;
      }
    }
  }

  // first level nav only
  > ul li {
    letter-spacing: 1px;
    font-weight: 400;
  }

  .navbar-left {
    float: left;
  }

  .navbar-right {
    float: right;

    li {
      position: relative;
    }
  }

  .header-dropdown {
    display: none;
    position: absolute;
    background: white;
    width: 200px;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    margin-left: -5px;
    overflow: hidden;

    &.right-header {
      right: 0;
    }

    li {
      width: 100%;
    }
  }
}


.ticket {
  position: relative;
  margin: 10px 0;
  border: 1px solid $grey;
  min-height: 130px;
  background-color: white;
  padding: 10px;

  h3 {
    font-size: 1.2em;
    margin: 5px 0;
    letter-spacing: 0.7px;
    margin-right: 170px;
  }

  &.main, #main & {
    .text {
      margin: 0 30px 0 0;
    }
  }

  .text {
    display: inline-block;
    margin: 7px;
    max-width: 800px;
    line-height: 18px;
    margin-right: 170px;

    h1 {
      font-size: 1.6em;
      line-height: 1.2em;
      margin: 0;
    }

    li {
      margin: 10px 0;
    }
  }

  .btn-holder {
    position: absolute;
    right: 0;
    top: 0;
  }

  .btn-edit {
    z-index: 1;
    position: absolute;
    top: 7px;
    right: 7px;
    padding: 5px;
    cursor: pointer;
    text-decoration: none;
    color: $dark-grey;
  }

  .btn-edit:hover {
    text-decoration: underline;
  }

  .btn-testscript {
    position: absolute;
    bottom: 7px;
    right: 7px;
    padding: 8px;
    cursor: pointer;
    text-decoration: none;
    background-color: $green;
    border-radius: 5px;
    color: white;
  }

  input {
    min-width: 400px;
    margin: 7px;
    padding: 5px;
    border: 2px solid $grey;
    border-radius: 5px;
    box-sizing: border-box;
  }

  form {
    margin: 10px;

    input {
      display: block;
    }

    .btn-edit.submit, .btn-edit.cancel {
      position: static;
      display: inline-block;
      border: none;
      font-size: 1.2em;
      background-color: $green;
      color: white;
      border-radius: 5px;
      min-width: 0;
    }

    .btn-edit.submit:hover, .btn-edit.cancel:hover {
      text-decoration: none;
    }

    .btn-edit.cancel {
      background-color: $grey;
      color: $dark-grey;
      padding: 7px;
    }

    div {
      margin: 8px;
    }
  }

  textarea {
    margin: 7px;
    display: block;
    border: 2px solid $grey;
    border-radius: 5px;
    min-width: 400px;
    min-height: 75px;
    box-sizing: border-box;

    &.invisible {
      display: none;
    }
  }

  .delete-ticket {
    position: absolute;
    bottom: 5px;
    font-size: 10px;
    cursor: pointer;
    z-index: 5;

    &:hover {
      text-decoration: underline;
    }

    &.ticket-page {
      right: 10px;
      color: $dark-grey;
    }
  }
}

.ticket.pass {
  border-left: 5px solid $green;
  padding-left: 6px;
}

.ticket.fail {
  border-left: 5px solid $red;
  padding-left: 6px;
}

.btn-test, .failure-reason-cancel {
  display: inline-block;
  background-color: $dark-grey;
  color: white;
  margin: 10px;
  padding: 7px;
  border-radius: 5px;
  cursor: pointer;

  &.default {
    cursor: default;
  }

  &.pass {
    background-color: $green;
  }

  &.fail {
    background-color: $red;
  }

  &.cancel {
    background-color: $grey;
    color: $dark-grey;
  }
}

.ticket-list-tickets .btn-test {
  background-color: white;
  color: black;

  .circle {
    font-weight: normal;
    font-size: 15px;
    width: 16px;
  }
}

#login-buttons {
  font-family: $font-normal;
  text-align: right;

  input {
    border: 0;
    border-bottom: 1px solid $dark-grey;
    height: 35px;
    margin-left: 5px;
    position: relative;

    &:focus {
      border-bottom: 2px solid $green;
      outline: 0 none;
    }
  }

  .login-link-text,
  .login-close-text,
  #signup-link,
  #back-to-login-link {
    cursor: pointer;
  }

  .login-close-text {
    visibility: hidden;
  }

  .login-close-text:after {
    content: 'X';
    visibility: visible;
    display: block;
    position: absolute;
    left: 15px;
    top: -5px;
    font-size: 16px;
  }

  a {
    text-decoration: none;
    padding: 0;
    text-decoration: none;
    border: none;
  }

  #login-dropdown-list {
    position: absolute;
    top: 50px;
    bottom: 0;
    right: 0;
    left: 0;
    background: white;
    min-height: 320px;
    border-bottom: 1px solid $dark-grey;
    text-align: center;
    color:  black;
    background-color: white;
    border-radius: none;
    font-weight: normal;

    a {
      color: black;
    }

    a:hover {
      text-decoration: underline;
    }
  }

  #login-buttons-password {
    cursor: pointer;
    text-align: center;
    line-height: 2.5;
    background-image: none;
    border: 1px solid $dark-grey;
    border-radius: 5px;
    width: 180px;
    margin: 10px auto;
    font-weight: bold;

    &:hover {
      background-color: $green;
      color: white;
    }
  }
}

.errors {

  .alert-error {
    background-color: $red;
    color: white;
    border-radius: 5px;
    padding: 10px;
    cursor: default;
    margin: 10px 0 0 0;

    .close {
      cursor: pointer;
      font-weight: bold;
      float: right;
    }
  }
}

#spinner {
  height: 300px
}

.corgi-success {
  margin: 20px;
  text-align: center;
  div {
    margin: 10px;
    font-size: 2em;
  }
  img {
    margin: 10px;
    border-radius: 5px;
  }
}

#new-testscript {
  margin: 7px;

  textarea {
    display: block;
    margin: 5px;
    margin-top: 10px;
    margin-left: 0;
    padding: 5px;
    border-radius: 5px;
    min-width: 300px;
    min-height: 100px;
    border-color: $grey;
  }

  .cancel {
    background-color: $grey;
    padding: 4px;
    margin-left: 150px;
    color: $dark-grey;
  }
}

.btn-delete {
  background-color: $red;
  color: white;
  padding: 5px;
  border-radius: 5px;
  position: absolute;
  top: 10px;
  right: 10px;

  &:hover {
    text-decoration: none;
  }
}

.testscript-steps {
  max-width: 600px;
  word-wrap: break-word;
}

.invisible {
  display: none;
}

.btn-new-testscript {
  border-radius: 5px;
  min-width: 100px;
  background-color: #62bd19;
  border: none;
  color: white;
  font-size: 1em;
  display: inline;
  margin-left: 0;
  cursor: pointer;
  padding: 5px;

  &.delete.edit {
    background-color: red;
    margin-left: 130px;
  }

  &.cancel.edit {
    background-color: $grey;
    color: $dark-grey;
  }

  &.edit {
    padding: 0 5px;
    margin-top: 20px;
    margin-left: 5px;
  }

  &:hover {
    text-decoration: none;
  }
}

footer span {
  float: right;
}

.undo {
  background-color: $grey;
  color: $dark-grey;
}

.testing-results {
  display: inline-block;
  margin-right: 10px;
  font-size: 1.2em;
}

.circle {
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.8);
  margin-left: 2px;
  border-radius: 25px;
  width: 22px;
  height: 22px;
  text-align: center;
  font-weight: bold;
  font-size: 16px;

  .green {
    color: $green;
  }

  .red {
    color: $red;
  }

  &.notification {
    color: $blue;
    width: 22px;
    position: relative;
    top: -1px;
  }
}

.testscript-results {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: $dark-grey;
  cursor: pointer;
  float: right;

  .results-inner {
    z-index: 1;
    display: none;
    position: relative;
    top: 7px;
    background-color: white;
    max-height: 300px;
    overflow-y: auto;

    div {
      padding: 8px;
    }

    .green {
      border-left: 2px solid $green;
      border-bottom: 1px solid $light-grey;
    }

    .red {
      border-left: 2px solid $red;
      border-top: 0;
    }
  }
}

.notification.dropdown-menu {
  padding: 5px;
  display: none;
  position: absolute;
  top: 30px;
  right: 0;
  border-radius: 5px;
  background-color: white;
  z-index: 1;
  font-size: 0.9em;
  border: 2px solid $grey;
  width: 350px;

  a {
    padding: 0;
    text-decoration: none;
    color: black;
    border: none;
    margin: 5px 0;
    border-radius: 0;

    &:hover {
      color: white;
      background-color: $red;
    }
  }

  li {
    display: block;
    margin: 7px 0;
  }
}

li.relative-container {
  position: relative;
}

.failure-reason {
  display: none;
  z-index: 1;
  position: absolute;
  top: -8px;
  right: -8px;
  form {
    input {
      display: inline-block;
    }
    .div {
      display: inline-block;
    }
  }
}

.admin {
  margin: 10px auto;
  width: 800px;

  h1 {
    margin: 10px 0;
    font-size: 1.1em;
  }

  .title {
    max-width: 500px;
    vertical-align: middle;
  }

  .select-milestone {
    margin-left: 10px;
  }

  .milestones, .stream, .assign, .ticket-updates {
    margin: 15px 0;
    height: 60px;
    background-color: rgba(238, 238, 238, 0.7);

    span, select {
      margin-left: 10px;
      position: relative;
      top: 21px;
    }

    select {
      top: 20px;
    }
  }

  .users {
    line-height: 18px;
  }

  #milestone-choice {
    min-width: 200px;
  }

  .btn-new-testscript, .alert {
    float: right;
    position: relative;
    top: 12px;
    right: 10px;
    padding: 10px;
    width: 130px;
    text-align: center;
  }

  .alert {
    background-color: $blue;
    color: white;
    opacity: 0;
    border-radius: 5px;
    width: auto;
  }

  .red.btn-new-testscript {
    background-color: $red;
  }

  .user {
    margin: 5px 0;
    border-bottom: 1px solid $grey;
    padding-bottom: 5px;
    min-height: 50px;
    position: relative;

    select {
      float: right;
      height: 26px;
      font-size: 14px;
      border: 0px;
      margin-right: 10px;
      outline: none;
    }

    input {
      float: right;
    }

    label {
      float: right;
      padding-right: 5px;
      font-size: 12px;
      font-weight: normal;
    }

    .delete-user {
      position: absolute;
      right: 5px;
      bottom: 5px;
      color: $dark-grey;
      text-decoration: underline;
      cursor: pointer;
      font-size: 10px;
    }
  }

  .randomize {
    margin: 0 5px;
    background-color: white;
    color: black;
    border: 2px solid $grey;
    padding: 8px;
    width: 130px;
  }

  .user-tests {
    height: 50px;
  }

  .assign-tickets, .select-update, .reset-tickets {
    margin-left: 5px;
  }
}

.testing-assignment {
  background-color: $header-grey;
  border: 1px solid $light-grey;
  font-size: 1.2em;
  margin-top: 10px;
  padding: 10px;
  text-align: center;
}

.no-testing-ticket {
  z-index: 2;
  color: white;
  background-color: $green;
  padding: 10px;
  font-size: 1.2em;
  text-align: center;
  opacity: 0.4;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;

  .ticket.main & {
    position: relative;
    margin: -10px;
  }
}

.to-do {
  min-height: 300px;
  margin: 0 auto;

  img {
    margin: auto;
    display: block;
  }
}

.completed-text {
  margin: 10px auto;
  text-align: center;
}

.pull-right {
  float: right;
}

.loading-block {
  position: relative;
  text-align: center;
  padding-top: 50px;
  height: 100px;
}

.loading-icon {
  border: 3px solid $dark-grey;
  -webkit-border-radius: 80px;
  height: 80px;
  width: 80px;
  position: absolute;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 0;
}

@-webkit-keyframes pulsate {
  0% {-webkit-transform: scale(0.1, 0.1); opacity: 0.0;}
  50% {opacity: 1.0;}
  100% {-webkit-transform: scale(1.2, 1.2); opacity: 0.0;}
}

.account-form-container {
  .update-success {
    border: 1px solid $green;
    padding: 8px;
    border-radius: 5px;
    margin-top: 15px;
    text-align: center;
    opacity: 0;
  }
}

.next-ticket {
  float: right;
  right: 0;
  text-align: right;
}

.browsers {
  label {
    font-weight: normal;
  }

  input {
    margin-right: 15px;
    margin-left: 0;
  }
}

.submit-edit-ticket {
  position: absolute;
  bottom: 10px;
  right: 10px;
}

.gold-star {
  float: left;
  max-height: 60px;
  margin: 0 15px;
}
