$background-brown: #F2E9CE;
$green: #62BD19;
$blue: #0F8BCA;
$red: #FF3737;
$pink: #D11B7E;
$yellow: #F6EF2A;
$nav-green: #70AB8F;
$light-blue: #D3E5FB;
$grey: #EEEEEE;
$dark-grey: #939393;

html {
	background-color: white;
	font-family: 'Open Sans', sans-serif;
	color: black;
}

strong {
	font-weight: bold;
}

a {
	text-decoration: none;
	color: black;
}

a:hover {
	text-decoration: underline;
}

body {
	max-width: 1100px;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	padding-top: 10px;
}

.container {
	min-height: 700px;
}
.navbar {
	height: 40px;
	background-color: $blue;
	border-radius: 5px;
	font-size: 1.4em;
	text-decoration: none;
	text-shadow: -1px 0 #383127, 0 1px #383127, 1px 0 #383127, 0 -1px #383127;
}

.navbar a {
	padding: 0 5px;
	text-decoration: none;
	color:  white;
	border: solid;
	border-color: $blue;
	border-radius: 5px;
}

.home {
	margin-right: 20px;
}

.navbar a:hover {
	border: dotted;
	border-color: $light-blue;
}

.navbar a.active {
	color: $light-blue;
}

.navbar-left {
	float: left;
	margin-top: 9px;
	margin-left: 10px;
}

.navbar-right {
	float: right;
	margin-top: 9px;
	margin-right: 10px;
}

.navbar li {
	display: inline;
}

.ticket {
	position: relative;
	margin: 10px 0;
	border-radius: 5px;
	min-height: 60px;
	background-color: white;
	border: 2px solid;
	
	.text {
		margin: 7px;
		
		h1 {
			font-size: 1.6em;
		}
		
		h3 {
			font-size: 1.2em;
			margin-bottom: 5px;
		}
		
		li {
			max-width: 800px;
			margin: 10px 0;
		}
	}
	
	.btn-holder {
		position: absolute;
		top: 0;
		right: 0;
	}
	
	.btn-edit {
		z-index: 1;
		position: absolute;
		top: 7px;
		right: 7px;
		padding: 5px;
		background-color: $blue;
		color: white;
		border-radius: 5px;
		text-shadow: -1px 0 #383127, 0 1px #383127, 1px 0 #383127, 0 -1px #383127;
		cursor: pointer;
		text-decoration: none;
	}
	
	input {
		display: block;
		min-width: 400px;
		margin: 7px;
		padding: 5px;
		border-radius: 5px;
	}

	form {
		margin: 10px;
	
		.btn-edit.submit {
			position: static;
			display: block;
			margin: 15px;
			border: none;
			font-size: 1.2em;
		}
	}

	textarea {
		margin: 7px;
		display: block;
		border-radius: 5px;
	}
}

.ticket.pass {
	border-color: $green;
}

.ticket.fail {
	border-radius: 0;
	border-color: $grey;
}

.btn-test {
	display: inline-block;
	background-color: $dark-grey;
	color: white;
	margin: 10px;
	padding: 12px;
	border-radius: 5px;
	cursor: pointer;
}

.btn-test.pass {
	background-color: $green;
}

.btn-test.fail {
	background-color: $red;
}

#login-buttons {
	a {
		text-decoration: none;
		padding: 0;
		text-decoration: none;
		border: none;
	}
	
	#login-dropdown-list {
		color:  black;
		background-color: white;
		border-radius: none;
		font-weight: normal;
		text-shadow: none;
		a {
			color: black;
		}
		a:hover {
			text-decoration: underline;
		}
		.login-button {
			cursor: pointer;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			-o-user-select: none;
			user-select: none;
			padding: 4px 8px;
			font-size: 80%;
			font-family: 'Open Sans', Helvetica, Arial, default;
			line-height: 1.5;
			text-align: center;
			color: white;
			text-shadow: none;
			background-color: $green;
			background-image: none;
			border-radius: 5px;
			border: none;
			box-shadow: none;
			-webkit-box-shadow: none;
		}
	}
}

.alert-error {
	display: inline-block;
	background-color: $red;
	color: white;
	margin: 5px;
	border-radius: 5px;
	padding: 5px;
	cursor: default;
	
	.close {
		cursor: pointer;
		font-weight: bold;
	}
}

#spinner { 
	height: 300px 
}

.corgi-success {
	margin: 20px;
	text-align: center;
	span {
		margin: 10px;
		font-size: 2em;
	}
	img {
		margin: 10px;
		border-radius: 5px;
	}
}



