<template name="regressionEdit">
  <div class="ticket {{status}}">
    <div class="text">
      <ul>
        <label for="summary-input">Title</label>
        <input id="summary-input" value="{{summary}}"/>
        <li><strong>Prerequisite/comments: </strong></li>
        <textarea>{{breakLines comments}}</textarea>
        <li class="tester-select">
          <strong>Browsers</strong>
          <div class="browsers">
            {{#each browsers}}
              <label for="browser-{{this}}">{{this}}</label>
              {{#if selected browser}}
              <input name="{{this}}" value="browser" id="browser-{{this}}" type="checkbox" checked="checked">
              {{else}}
              <input name="{{this}}" value="browser" id="browser-{{this}}" type="checkbox">
              {{/if}}
            {{/each}}
          </div>
        </li>

      </ul>
    </div>
    <a href="/regressions/{{_id}}" class="btn-edit">back</a>
  </div>
</template>
