<template name="admin">
  <div class="admin">
    {{#if userAdmin}}
      <div class="stream">
        <span>Toggle stream from Jira.</span>
        {{#if streamOn}}
          <div class="red btn-new-testscript streamer">Stop Streaming</div>
        {{else}}
          <div class="btn-new-testscript streamer">Start Streaming</div>
        {{/if}}
      </div>
      <div class="milestones">
        {{> milestones}}
      </div>
      <div class="assign">
        <span>Reset ticket testing results, but not testing assignments.</span>
        <div class="btn-new-testscript reset-tickets">Clear Results</div>
        <div class="alert reset-alert">Reset</div>
      </div>
      <div class="assign">
        <span>Unassign all tickets and reset results.</span>
        <div class="btn-new-testscript reset-all-tickets">Reset Tickets</div>
        <div class="alert reset-all-alert">Reset</div>
      </div>
      <div class="assign">
        <span>Update People in Testing Group. Use if someone joins in late.</span>
        <div class="btn-new-testscript update-testing-assignments">Update Current Testers</div>
        <div class="alert update-testing-assignments-alert">Updated</div>
      </div>
      <div class="assign">
        <span>Assign users to tickets</span>
        <div class="btn-new-testscript assign-tickets">Assign Tickets</div>
        <div class="alert ticket-alert">Assigned</div>
      </div>
      <div class="users">
        {{#each users}}
          {{> user}}
        {{/each}}
        <!-- <div class="user-tests">
          <div class="btn-new-testscript assign-browsers">Assign Browsers</div>
          <div class="btn-new-testscript randomize">Randomize</div>
          <div class="alert browser-alert">Assigned</div>
        </div> -->
      </div>
    {{/if}}
  </div>
</template>

<template name="user">
  <div class="user">
    <span><strong>{{username}}</strong></span>
    {{#if userAssignedToTest username}}
      <input name="{{username}}" value="username" id="username" type="checkbox" checked="checked">
      <label for="username">Include in testing</label>
    {{else}}
      <input name="{{username}}" value="username" id="username" type="checkbox">
      <label for="username">Include in testing</label>
    {{/if}}
    <!-- {{>browserLocaleOptions this}} -->
    {{#if userAssignedToTest username}}
      {{> userStatus this}}
    {{/if}}
    <div class="delete-user">Delete</div>
  </div>
</template>

<template name="userStatus">
  <div>
    Incomplete:
    {{#each userTicketsIncomplete ../username}}
      <a href="{{pathFor 'ticketPage'}}">{{this.jiraId}}</a>
    {{/each}}
  </div>
  <div>
    Passed:
    {{#each userTicketsPassed ../username}}
      <a href="{{pathFor 'ticketPage'}}">{{this.jiraId}}</a>
    {{/each}}
  </div>
  <div>
    Failed:
    {{#each userTicketsFailed ../username}}
      <a href="{{pathFor 'ticketPage'}}">{{this.jiraId}}</a>
    {{/each}}
  </div>
</template>

<template name="browserLocaleOptions">
  <select class="browser">
    {{#each browserOptions}}
      {{#if isCurrentlyAssigned ../username}}
        <option value="{{this}}" selected="selected">{{this}}</option>
      {{else}}
        <option value="{{this}}">{{this}}</option>
      {{/if}}
    {{/each}}
  </select>
  <select class="locale">
    {{#each localeOptions}}
      {{#if isCurrentlyAssigned ../username true}}
        <option value="{{this}}" selected="selected">{{this}}</option>
      {{else}}
        <option value="{{this}}">{{this}}</option>
      {{/if}}
    {{/each}}
  </select>
</template>
