<template name="testscriptList">
	<div class="testscripts-list">
		{{#each testscripts}}
			{{> testscript}}
		{{/each}}
	</div>
</template>

<template name="testscript">
	<div class="ticket {{passed this}}">
		<div class="text">
			<div class="testscript-steps">{{breakLines steps}}</div>
			<div class="invisible">
				<textarea name="steps">{{steps}}</textarea>
				<a href="#" class="btn-new-testscript edit">Submit Changes</a>
				<a href="#" class="btn-new-testscript edit delete">DELETE</a>
			</div>
		</div>
		<div class="btn-holder">
			<div class="btn-test pass">PASS</div>
			<div class="btn-test fail">FAIL</div>
		</div>
	</div>
</template>