<template name="testscriptList">
	<div class="testscripts-list">
		{{#each testscripts}}
			{{> testscript}}
		{{/each}}
	</div>
</template>

<template name="testscript">
	<div class="ticket {{testscriptStatus this}}">
		<div class="text">
			<div class="testscript-steps">{{breakLines steps}}</div>
		</div>
		<div class="btn-holder">
			{{#if showUndo this}}
				<div class="btn-test undo">undo</div>
			{{/if}}
			<div class="btn-test pass">PASS <span class="circle"><span class="green">{{numPassers this}}</span></span></div>
			<div class="btn-test fail">FAIL <span class="circle"><span class="red">{{numFailers this}}</span></span></div>
		</div>
		<div class="failure-reason">
			<form>
				<input type="text" placeholder="Why did it fail?">
				<div class="btn-test fail interior">FAIL <span class="circle"><span class="red">{{numFailers this}}</span></span></div>
			</form>
		</div>
		<div class="testscript-results">
			<div class="results">Results</div>
			<div class="results-inner">
				<div class="green">Pass: {{passersConcat this}}</div>
				<div class="red">Fail: {{failersConcat this}}</div>
			</div>
		</div>
	</div>
</template>
