<template name="testscriptList">
	<div class="testscripts-list">
		{{#each testscripts}}
			{{> testscript}}
		{{/each}}
	</div>
</template>

<template name="testscript">
	<div class="ticket {{testscriptStatus this}}">
		<div class="text">
			<div class="testscript-steps">{{breakLines steps}}</div>
			<div class="invisible">
				<textarea name="steps">{{steps}}</textarea>
				<a href="#" class="btn-new-testscript edit update">Submit Changes</a>
				<a href="#" class="btn-new-testscript edit delete">DELETE</a>
			</div>
		</div>
		<div class="btn-holder">
			{{#if showUndo this}}
				<div class="btn-test undo">undo</div>
			{{/if}}
			<div class="btn-test pass">PASS <span class="circle"><span class="green">{{numPassers}}</span></span></div>
			<div class="btn-test fail">FAIL <span class="circle"><span class="red">{{numFailers}}</span></span></div>
		</div>
		<div class="testscript-results">
			<div class="results">Results</div>
			<div class="results-inner">
				<span>Passers: {{passersConcat}}</span>
				<hr>
				<span>Failers: {{failersConcat}}</span>
			</div>
		</div>
	</div>
</template>