<template name="ticketsList">
  <div>
    {{#if allPassed}}
      <div class="corgi-success">
        <div>Congratulations! All tests have passed.</div>
        <img src="http://data3.whicdn.com/images/1410283/2350510452_6852c3428e_original.jpg">
      </div>
    {{/if}}
    {{#if noTickets options}}
      <div class="testing-assignment"><strong>No tickets to display.</strong></div>
    {{/if}}
    {{#if activeRouteClass 'todo'}}
      {{#if testingUserAssignment}}
        <div class="testing-assignment">You are assigned to: <strong>{{testingUserAssignment}}</strong></div>
      {{/if}}
      <div class="testing-assignment">To-do</div>
      <div class="to-do">
        {{#if userAllDone}}
          {{ > userGif}}
        {{/if}}
        {{#each userUntestedTickets}}
          {{> ticket}}
        {{/each}}
      </div>
      <div class="testing-assignment">Completed</div>
      {{#each userTestedTickets}}
        {{> ticket}}
      {{/each}}
    {{else}}
      {{#each tickets}}
        {{> ticket}}
      {{/each}}
    {{/if}}
  </div>
</template>

<template name="ticket">
  <div class="ticket {{status}}">
    <h3><a href="{{pathFor 'ticketPage'}}">{{assemblaId}} - {{summary}}</a></h3>
    <div class="text">
      <span>Assigned to: {{assignedTo}}</span><br>
      <span>Testers: {{ticketTesters}}</span>
    </div>

    {{#if noTesting}}
      <div class="no-testing-ticket">NO TESTING REQUIRED</div>
    {{else}}
    <div class="btn-holder">
      <div class="btn-test pass default">PASS <span class="circle"><span class="green">{{numPassers this}}</span></span></div>
      <div class="btn-test fail default">FAIL <span class="circle"><span class="red">{{numFailers this}}</span></span></div>
    </div>
    {{/if}}

    {{#unless noTesting}}
      <div class="testscript-results">
        <div class="results">Results</div>
        <div class="results-inner">
          <div class="green">Pass: {{passersConcat this}}</div>
          <div class="red">Fail: {{failersConcat this}}</div>
        </div>
      </div>
    {{/unless}}
  </div>
</template>
