<template name="ticketPage">
  {{#if userAdmin}}
    <a href="{{pathFor 'ticketPage' data=nextTicketNumber}}" class="next-ticket">Next Ticket</a>
    <a href="{{pathFor 'ticketPage' data=previousTicketNumber}}" class="previous-ticket">Previous Ticket</a>
  {{/if}}
  {{#if personalBrowserAssignment}}
    {{#with personalBrowserAssignment}}
    <div class="testing-assignment browser-locale {{animationClass}}">
      Please test this ticket with <span class="arrow">&#10157;</span> Browser: <strong>{{browser}}</strong> and Locale: <strong>{{locale}}</strong>
    </div>
    {{/with}}
  {{/if}}
  <div class="main ticket {{status}}" data-id={{_id}}>
    <div class="text">
      <h1><a target="_blank" href="{{jiraUrl}}">{{summary}}</a></h1>
      <ul>
        <li><strong>Ticket: </strong><a target="_blank" href="{{jiraUrl}}">{{jiraKey}}</a></li>
        <li><strong>Assigned to: </strong>{{assignedTo.name}}</li>
        <li><strong>Status: </strong>{{statusName}}</li>
        <li><strong>Prerequisite/comments: </strong></li>
        <li>{{breakLines comments}}</li>
        <li><strong>Testers: </strong>{{ticketTesters}}</li>
      </ul>
    </div>
    {{#if noTesting}}
      <div class="no-testing-ticket">NO TESTING REQUIRED</div>
      {{#if userAdmin}}
        <a href="{{pathFor 'ticketEdit'}}" class="btn-edit">edit</a>
        <div class="delete-ticket ticket-page">Delete</div>
      {{/if}}
    {{else}}
      {{#if userAdmin}}
        <a href="{{pathFor 'ticketEdit'}}" class="btn-edit">edit</a>
        <div class="delete-ticket ticket-page">Delete</div>
      {{/if}}
    {{/if}}
  </div>
  {{#unless noTesting}}
    <div class="testscripts">
      {{> testscriptList}}
    </div>
  {{/unless}}
</template>
