<template name="ticketsList">
	<div>
		{{#if allPassed}}
			<div class="corgi-success">
				<span>
					Congratulations! All tests have passed.
					<img src="http://data3.whicdn.com/images/1410283/2350510452_6852c3428e_original.jpg">
				</span>
			</div>
		{{/if}}
		{{#each tickets}}
			{{> ticket}}
		{{/each}}
	</div>
</template>

<template name="ticket">
	<div class="ticket {{ticketStatus this}}">
		<div class="text">
			<h3><a href="{{pathFor 'ticketPage'}}">{{title}}</a></h3>
			<span>Dev: {{dev}}</span>
		</div>
	</div>
</template>