<template name="ticketsList">
	<div>
		{{#if allPassed}}
			<div class="corgi-success">
				<span>
					Congratulations! All tests have passed.
					<img src="http://data3.whicdn.com/images/1410283/2350510452_6852c3428e_original.jpg">
				</span>
			</div>
		{{/if}}
		{{#each tickets}}
			{{> ticket}}
		{{/each}}
	</div>
</template>

<template name="ticket">
	<div class="ticket {{status}}">
		<div class="text">
			<h3><a href="{{pathFor 'ticketPage'}}">{{title}}</a></h3>
			<span>Done by: {{dev}}</span>
		</div>
		<div class="btn-holder">
			<div class="btn-test pass default">PASS <span class="circle"><span class="green">{{numPassers this}}</span></span></div>
			<div class="btn-test fail default">FAIL <span class="circle"><span class="red">{{numFailers this}}</span></span></div>
		</div>
		<div class="testscript-results">
			<div class="results">Results</div>
			<div class="results-inner">
				<div class="green">Pass: {{passersConcat this}}</div>
				<div class="red">Fail: {{failersConcat this}}</div>
			</div>
		</div>
	</div>
</template>