<template name="ticketPage">
	<div class="main ticket {{status}}">
		<div class="text">
			<h1><a href="{{assemblaUrl}}">{{summary}}</a></h1>
			<ul>
				<li><strong>Ticket: </strong>{{assemblaId}}</li>
				<li><strong>Assigned to: </strong>{{assignedTo}}</li>
				<li><strong>Component: </strong>{{component}}</li>
				<li><strong>Browser: </strong>{{browser}}</li>
				<li><strong>OS: </strong>{{os}}</li>
				<li><strong>Prerequisite/comments: </strong></li>
				<li>{{breakLines comments}}</li>
				<li><strong>Testers: </strong>{{ticketTesters}}</li>
			</ul>
		</div>
		{{#if noTesting}}
			<div class="no-testing-ticket">NO TESTING REQUIRED</div>
		{{else}}
			{{#if userAdmin}}
				<a href="{{pathFor 'ticketEdit'}}" class="btn-edit">edit</a>
			{{/if}}
		{{/if}}
	</div>
	{{#unless noTesting}}
		<div class="testscripts">
			{{> testscriptList}}
		</div>
	{{/unless}}
</template>

