<template name="genericTicketEdit">
  {{#if activeRouteClass 'regressions'}}
    {{> regressionEdit}}
  {{else}}
    {{> ticketEdit}}
  {{/if}}
</template>

<template name="ticketEdit">
  <div class="ticket {{status}}">
    <div class="text">
      <h1><a href="{{jiraUrl}}">{{summary}}</a></h1>
      <!-- let's remove this and do a main shared outer template, and then take out the non shared stuff -->
      <ul>
        <li><strong>Ticket: </strong>{{jiraId}}</li>
        <li><strong>Assigned to: </strong>{{assignedTo.name}}</li>
        <li><strong>Prerequisite/comments: </strong></li>
        <li>{{breakLines comments}}</li>
        {{> numTesters}}
        {{> testerSelect}}
      </ul>
    </div>
    <!-- <div class="alert browser-alert">Assigned</div> -->
    <a href="{{pathFor 'ticketPage'}}" class="btn-edit">back</a>
    <div class="submit-edit-ticket btn-new-testscript">Save Changes</div>
  </div>
</template>

<template name="numTesters">
  <li class="num-testers">
    <strong>Number of Testers:</strong>
    <select>
      {{#each numTesters}}
      {{> numTester}}
      {{/each}}
    </select>
  </li>
</template>

<template name="testerSelect">
  <li class="tester-select">
    <strong>Testers:</strong>
    {{#each ticketTesters}}
    <select name="select-{{index}}">
      {{>testerUsers}}
    </select>
    {{/each}}
  </li>
</template>

<template name="testerUsers">
  {{#each testers}}
    {{>testerUser name}}
  {{/each}}
</template>

<template name="testerUser">
  {{#if selected}}
    <option value="{{this}}" selected="selected">{{this}}</option>
  {{else}}
    <option value="{{this}}">{{this}}</option>
  {{/if}}
</template>

<template name="numTester">
  {{#if selected}}
    <option value="{{number}}" selected="selected">{{number}}</option>
  {{else}}
    <option value="{{number}}">{{number}}</option>
  {{/if}}
</template>
